.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;

    &__logo__wrap {
        height: 100%;
        width: 70px;
        padding: 25px;
        display: flex;
        align-items: center;
    }
    
    &__link {
        padding: 10px 15px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }

    &__links__wrap {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 25px;
        box-sizing: border-box;
    }
}
